<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>What is GitHub/</title>
</head>
<body>
<h2 align="center"> What is GitHub?</h2>
<!--<div class="container" style="background-color: burlywood">-->
<div class="container">
    <div class="jumbotron">
        <h1 align="center" class="display-3">The "Hub" in GitHub</h1>
        <date><i>July 11, 2019 </i></date>
        <p class="lead">
            Enterprise Java refers to Java applications written to meet the needs of enterprises.
            An enterprise is an organization rather than an individual user. Such organizations include businesses,
            schools, interest-based user groups, clubs, charities, or governments.
            Java EE consists of a set of APIs (EJB, JMS, JPA, JTA, JSF etc.)
            and the application servers (Glassfish, Tomcat, JBoss/WildFly etc.) which implement these APIs (or a part of them).</p>
        <p> Java EE 8 continues to improve API and programming models needed for today's applications
            and adds features requested by our world-wide community.</p>
            <!--<img src="https://www.oracle.com/technetwork/java/javaee/overview/ee8-gfx-final-3905175.jpg">-->
        <hr class="my-3">
    </div>

</body>
</html>