<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Polymorphism</title>
</head>
<body>
<!--<div class="container" style="background-color: burlywood">-->
<div class="container">
    <div class="jumbotron">
        <h1 align="center" class="display-3">Polymorphism</h1>
        <date><i> July 11, 2019</i> </date>
        <p class="lead"> Polymorphism is the ability of an object to change behavior on runtime.</p>
        <p>Any Java object that can pass more than one IS-A test is considered to be polymorphic. In Java, all Java objects
           are polymorphic since any object will pass the IS-A test for their own type and for the class Object.
           It is important to know that the only possible way to access an object is through a reference variable.
           A reference variable can be of only one type. Once declared, the type of a reference variable cannot be changed.</p>
        <p> <i>A common example of polymorphism is constructors:</i></p>
        <img src="https://res.cloudinary.com/dgogsuupz/image/upload/c_scale,w_625/v1562876951/Screenshot_8_recqbt.png">
        <p> The previous example utilizes the concept of Polymorphism. You can create a new Person object from the Person class with a stated Name, Name and Gender, or Name, Age, and Gender.</p>
    </div>
</div>
</body>
</html>